<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>

    <!-- Parametros de Configuração -->
    <add key="browser" value="Chrome"/>
    <add key="platform" value="Android"/>

    <!-- Parametros da Aplicação -->
    <add key="nome" value="Hugo Peres"/>
    <add key="email" value="contato@inoveteste.com.br"/>
    <add key="assunto" value="Valor para livro impresso?"/>
    <add key="menssagem" value="Gostaria de verificar o valor para o livro impresso..."/>
    
  </appSettings>
  
</configuration>